*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
:root{
    --primer-color: #CAD2C5;
    --segundo-color:#84A98C;
    --tercer-color: #52796F;
    --cuarto-color: #354F52;
    --quinto-color: #2F3E46;
}
html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100vw;
    background-color: var(--tercer-color);
    border-bottom: 1px solid --quinto-color;
    box-shadow: 0px 0px 15px 0px var(--quinto-color);
    display: flex;
}
/*Estilos para la lista del nav*/
nav ul{
    list-style: none;
    padding: 10px;
}
nav ul li{
    color: var(--primer-color);
    font-size: 2.5rem;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}
nav ul li:hover{
    background-color: var(--quinto-color);
    transition: 0.4s;
}
nav ul li a{
    text-decoration: none;
    color: var(--primer-color);
}
 /*Estilos para el logo*/
.conten_logo{
    position: absolute;
    display: block;
}
/*Estilos para el main*/
main{
    width: 100vw;
    height: 1000px;
}
/*Estilos para el footer*/
footer{
    width: 100vw;
    height: 200px;
    z-index: 20;
    background: var(--quinto-color);
    position: relative;
    display: flex;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .conten_logof{
    align-self: center;
}
.conten_logof img{  
    width: 90px;
    height: 90px;
}
footer .copy{
    padding: 10px 20px;
    align-self: flex-end;
    color: var(--primer-color);
    font-size: 1.6rem;
}
footer .iconos{
    height: 60px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}
.iconos p{
    align-self: center;
    color: var(--primer-color);
    font-size: 1.6rem;
}
.iconos .facebook{
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0px 5px;
}
.iconos .twitter{
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0px 5px;
}
.iconos .instagram{
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0px 5px;
}
.iconos .tik-tok{
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0px 5px;
}
@media screen and (max-width: 767px){
    header{    
        height: 80px;
    }
    /*Estilos para el icono del menu*/
    .icono_menu{
        position: absolute;
        display: block;
        z-index: 25;
        order: 1;
    }
    .icono_menu img{
        width: 60px;
        height: 60px;
        padding: 10px;
        cursor: pointer;
    }
    /*Estilos para el nav*/
    .conten_menu{
        background-color: var(--cuarto-color);
        box-shadow: 25vw 0px 0px 0px rgb(47, 62, 70, 0.5);
        width: 75vw;
        height: 100vh;
        left: -100vw;
        transition:all 0.1s step-end;
        z-index: 30;
        order: 2;
        position: fixed;
    }    
    .conten_menu ul{
        transform: translateY(80px);
    }
    .conten_menu ul li{
        color: var(--primer-color);
        display: block;
        font-size: 2.5rem;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
    }
    .conten_menu ul li:hover{
        background-color: var(--quinto-color);
    }
    
    /*Estilos para el logo*/
    .conten_logo{
        margin: 0 auto;
        order: 3;
        left: 50%;
        transform: translateX(-50%);
    }
    .conten_logo img{
        width: 80px;
        height: 80px;
    }
    
}
/*@media screen and (max-width: 767px) and (orientation: landscape){
    nav{
        height: 900px;
        overflow: scroll;
    }
}*/
@media screen and (min-width: 768px){
    header{
        height: 90px;
        justify-content: flex-end;
        align-items: center;
    }
   /*Estilos para el icono del menu*/
    .icono_menu{
        display: none;
    }
    /*Estilos para el logo*/
    .conten_logo{
        left: 0;
    }
    .conten_logo img{
        width: 90px;
        height: 90px;
    }
    /*Estilos para el nav*/
    nav ul{
        display: flex;
    }
    nav ul li{
        font-size: 2.5rem;
    }
    nav ul li a{
        display: block;
    }
 
}
@media screen and (min-width: 1024px){
    header{
        height: 100px;
    }
    .conten_logo img{
        width: 100px;
        height: 100px;
    }/*Estilos para el icono*/
   
}
@media screen and (min-width: 1440px){
    header{
        height: 150px;
    }
    nav ul li{
        font-size: 3.51rem;
    }
    .conten_logo img{
        width: 150px;
        height: 150px;
    }
    /*Estilos para el icono*/
    
}
@media screen and (min-width: 2560px){
    header{
        height: 250px;
    }
    nav ul li{
        font-size: 6.25rem;
    }
    .conten_logo img{
        width: 250px;
        height: 250px;
    }
    /*Estilos para el icono*/
   
}