*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primer-color: #CAD2C5;
    --segundo-color:#84A98C;
    --tercer-color: #52796F;
    --cuarto-color: #354F52;
    --quinto-color: #2F3E46;
}

html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100vw;
    height: 8rem;
    background-color: #52796F;
}